main{
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}

/* section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

section img{
  max-width: 320px;
  height: auto;
} */